output{
      
    position: unset!important;
    width: 3.4rem!important;
    /*background: #00D1B2!important;*/
    background: #0c0c0c!important;
    font-weight: bold!important;
}
 

.div-wrapper{
  width: 100%;
}

.field-wrapper .div-wrapper{
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

input[type="color"] {
  -webkit-appearance: none;
    /* border: none; */
    border: 3px solid transparent;
 
    width: 60px;
    height: 27px;
    margin-left: 10px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}


input[type="number"]{
  width: 69px;
  height: 25px;
  padding: 5px;
  background: rgb(74, 85, 87);
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 2rem;
  position: relative;
  border: none;
  top: -3px;
}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
}

/*.div-wrapper .options{
  display: inline-block!important;
  width: 9rem;
}
*/
/*.div-wrapper select {
  width: 14rem;
  margin-left: 21px;
  position: relative;
  top: -6px;
}*/


/*.imagePreview img{
   /* margin-left: 10%;
    margin-top: 2%;*/
  /*  width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
}*/



.filter {
  position: relative;
}
.filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  opacity: 0.51;
  background: rgba(15, 243, 243, 0.87);
}
img{
  vertical-align: middle;
}